/* body {
        margin: 0;
        min-height: 100%;
        background-color: #101010;
        font-family: "Open Sans", sans-serif;
        color: #333;
        font-size: 14px;
        line-height: 20px;
      } */
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.text-block-13 {
  max-width: 310px;
  margin-top: 20px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
  line-height: 24px;
}
.footer {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: url(https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/607555eea191ed02139a05de_Footer%20Background.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.footer-heading {
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  display: block;
  max-width: 1350px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0;
  -webkit-transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  line-height: 1.11em;
}
.w-container:after,
.w-container:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
w-container:after {
  clear: both;
}
.w-container:after,
.w-container:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  background-color: transparent;
  display: inline;
  color: #fff;
  text-decoration: none;
}
.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.footer-flex-container {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.75fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 0.75fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}
.footer-link {
  display: block;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 32px;
  text-decoration: none;
}
.footer-link {
  display: block;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 32px;
  text-decoration: none;
}
.image-11 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-decoration: none;
}
footer-text._w-margin {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer-text {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 20px;
  line-height: 32px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
user agent stylesheet li {
  text-align: -webkit-match-parent;
}
.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}
.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-decoration: none;
}
.link-block-4.small {
  margin-top: 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 10px;
}

a {
  background-color: transparent;
  display: inline;
  color: #fff;
  text-decoration: none;
}
.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}
.link-block-4.small {
  margin-top: 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 10px;
}
.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-decoration: none;
}
.footer-link.small {
  font-size: 12px;
}
.footer-text._w-margin {
  margin-bottom: 10px;
  font-size: 14px;
}
.collection-list-wrapper-6 {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
